<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzu.dao.NewsMapper">
    <insert id="addNews" parameterType="com.dzu.pojo.News">
        insert into news(id, type, title, content)
        values (#{id}, #{type}, #{title}, #{content})
    </insert>
    <delete id="deleteNews" parameterType="Integer">
        delete
        from news
        where id = #{id}
    </delete>
    <update id="updateNews" parameterType="com.dzu.pojo.News">
        update news
        set type=#{type},
            title=#{title},
            content=#{content}
        where id = #{id}
    </update>
    <select id="queryNews" parameterType="Integer" resultType="com.dzu.pojo.News">
        select *
        from news
        where id = #{id}
    </select>
    <select id="queryAllNews" resultType="com.dzu.pojo.News">
        select *
        from news
    </select>
</mapper>