<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzu.dao.NoticeMapper">
    <insert id="addNotice" parameterType="com.dzu.pojo.Notice">
        insert into notice(title, content)
        values (#{title}, #{content})
    </insert>
    <select id="queryNotices" resultType="com.dzu.pojo.Notice">
        select *
        from notice
    </select>
    <delete id="deleteNotice" parameterType="Integer">
        delete
        from notice
        where nid = #{id}
    </delete>
    <update id="updateNotice" parameterType="com.dzu.pojo.Notice">
        update notice
        set content=#{content},
            title=#{title}
        where nid = #{nid}
    </update>
    <select id="queryNoticesByTitle" resultType="com.dzu.pojo.Notice" parameterType="java.lang.String">
        select *
        from notice
        where title = #{title}
    </select>
</mapper>